<div id="admin-section" class="one-column">
    <form name="newSurvay" id="NewSurvayForm">
        <div class="newSurvay_input">
            <input  placeholder="Name this survay..." required value="" ng-modal="newSurvay.name"/>
        </div>
        <div class="newSurvay_input">
            <input placeholder="Discribe purpose of survay..." value="" ng-modal="newSurvay.name"></input>
        </div>
        <div class="reviewee-list">
            <table id="ListTableID">
                <thead>
                <tr>
                    <th class="td-icon"></th>
                    <th class="td-icon"></th>
                    <th>Team <i class="icon-pencil"></i></th>
                    <th>Name <i class="icon-pencil"></i></th>
                    <th>Role <i class="icon-pencil"></i></th>
                    <th>Feedbackers</th>
                    <th class="td-icon"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reviewee in reviewees">
                    <td class="td-icon">
                        <i class="icon-pencil" ng-show="!reviewee.editMode" ng-click="editReview($index)"></i>
                        <i class="icon-ok" ng-show="reviewee.editMode" ng-click="saveReview($index)"></i>
                    </td>
                    <td class="td-icon"><i class="icon-trash"></i></td>
                    <td class="td-select">
                        <select ng-model="selectedReview.team" ng-options="team.Name for team in teams" ng-show="reviewee.editMode">
                            <option value="">-- Select a team --</option>
                        </select>
                        <span ng-show="!reviewee.editMode">{{reviewee.team.Name}}</span>
                    </td>
                    <td class="td-select">
                        <select ng-show="reviewee.editMode" ng-model="selectedReview.person" ng-options="person.FullName group by person.Team for person in persons">
                            <option value="">-- Select a person --</option>
                        </select>
                        <span ng-show="!reviewee.editMode">{{reviewee.person.FullName}}</span>
                    <td>
                        <span>{{selectedReview.person.Role}}</span>
                    </td>
                    <td class="feedbackers"><span>{{reviewee.feedbackers}}</span></td>
                    <td class="td-icon"><i class="icon-list" ng-show="reviewee.editMode" ng-click="GetFeedbackers()"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="add-button controll-button" ng-click="addReviewer()" ng-class="{'disabled': editMode}">Add Reviewee</div>
        <div class="multistep-form">
            <div class="step-nav">
                <div class="step" ng-class="{'active': currentStepNav == 0}" ng-click="currentStepNav = 0">
                    <div class="step-header">
                        <h3>Step 1</h3>
                        <span>Select  Questionery</span>
                    </div>
                    <div class="step-content" >
                        <input type="radio" checked disabled required value="0">PeerReview<br/>
                    </div>
                </div>
                <div class="step" ng-class="{'active': currentStepNav == 1}" ng-click="currentStepNav = 1">
                    <div class="step-header">
                        <h3>Step 2</h3>
                        <span>Select Recurancy</span>
                    </div>
                    <div class="step-content" currentStepNav = 1>
                        <input type="radio" checked disabled value="0">One Time Review<br/>
                    </div>
                </div>
                <div class="step" ng-class="{'active': currentStepNav == 2}" ng-click="currentStepNav = 2">
                    <div class="step-header">
                        <h3>Step 3</h3>
                        <span>Select Result dellivery</span>
                    </div>
                    <div class="step-content">
                        <input type="radio" ng-model="resultDelivery" value="0"><span>See your Results @ReportCenter</span><br/>
                        <input type="radio" ng-model="resultDelivery" value="1">Benchmark against Happy Melly<br/>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" value="Create Survey, send Invitations" class="btn btn-info" />
    </form>
</div>
